<footer class="footer">

    <ul class="social">
        <li class="social__list">
            <a class="social__links" href="https://www.linkedin.com/in/yohann-hommet/" target="_blank" rel="noopener">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="social__list">
            <a class="social__links" href="https://github.com/YohannHommet" target="_blank" rel="noopener">
                <i class="fab fa-github-alt"></i>
            </a>
        </li>
        <li class="social__list">
            <a class="social__links" href="mailto:yohann.hommet@outllok.fr" target="_blank" rel="noopener">
                <i class="fas fa-envelope"></i>
            </a>
        </li>
    </ul>

</footer>