<footer class="footer">

    <ul class="social">
        <li class="social__list">
            <a class="social__links" href="">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="social__list">
            <a class="social__links" href="">
                <i class="fab fa-github-alt"></i>
            </a>
        </li>
        <li class="social__list">
            <a class="social__links" href="">
                <i class="fas fa-envelope"></i>
            </a>
        </li>
    </ul>

</footer>