{% extends 'base.html.twig' %}

{% block title %}cMa | Log in{% endblock %}

{% block body %}


    {% if error %}
        <div class="alert alert-danger flash nav_glass text-dark text-center fs-5">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="row top-50" style="margin-top: 3.1rem;">
        <div class="col-3 m-auto">

            <div class="custom_glass">
                <form method="post" class="form_glass">

                    <h1 class="h2 mt-4 mb-5 text-center font-weight-normal">Please sign in</h1>

                    <div class="mb-4">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control" autocomplete="email" required autofocus>
                    </div>

                    <div class="mb-2">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="mx-2">
                        <input class="me-1 form-check-input" type="checkbox" id="remember_me" name="_remember_me">Remember me
                    </div>

                    <div class="d-grid mt-4">
                        <button class="btn btn-primary px-4" type="submit">Let me in !</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
