{% extends 'base.html.twig' %}

{% block title %}Disclaimer | cMa{% endblock %}

{% block body %}

    <div class="presentation custom_glass">
        <h5 class="text-center mb-4 text-decoration-underline">Disclaimer</h2>

        <p class="text-center">
            Ceci est une version de test, il manque donc pas mal de fonctionnalités et de finitions.
            <br><br>
            Ce site n'a pas pour vocation de récolter vos données personnelles ou quoique ce soit. Toutes les données sont propres à chaque utilisateurs et personne ne pourra accéder à vos candidatures.
        </p>
        <p class="text-center fst-italic m-3 py-2 border-top border-bottom text-light"> 
            Si vous rencontrés des bugs, si vous avez des suggestions, ou si vous souhaitez participer à l'amélioration de ce site, merci de m'en informer. Vous trouverez le code source sur mon repository (libre à vous d'ouvrir des issues).
            <span class="text-decoration-underline d-block">le code est sous licence MIT.</span>
        </p>
    </div>

{% endblock %}