{% extends 'base.html.twig' %}

{% block title %}Disclaimer | cMa{% endblock %}

{% block body %}

    <div class="presentation custom_glass">
        <h5 class="text-center mb-5 text-decoration-underline">Disclaimer</h5>

        <p class="text-center">
            Ceci est une version de test, il manque donc pas mal de fonctionnalités et de finitions.
            <br><br>
            Ce site n'a pas pour vocation de récolter vos données personnelles ou quoi que ce soit d'autre. Toutes
            les données sont propres à chaque utilisateur et personne ne pourra accéder à vos candidatures.
        </p>
        <p class="disclaimer text-center fst-italic mt-5 py-3 border-top border-bottom">
            Si vous rencontrés des bugs, si vous avez des suggestions, ou si vous souhaitez participer à
            l'amélioration de ce site, merci de m'en informer. Vous trouverez le code source sur mon <a
                    href="https://github.com/YohannHommet/Perso_Suivis-Candidatures"
                    class="links text-decoration-underline" target="_blank" rel="noopener noreferrer">repository</a>
            (pour les issues / PR).
            <span class="text-decoration-underline d-block">le code est sous licence MIT.</span>
        </p>
    </div>

{% endblock %}