{% extends 'base.html.twig' %}

{% block title %}Home | cMa{% endblock %}

{% block body %}

    <div class="presentation custom_glass">
        <h2 class="text-center mb-5">Bienvenue</h2>

        <p>
            Bonjour à toi visiteur !
            <br><br>
            J'ai créé ce site dans le but d'avoir une meilleur vision sur les candidatures pour trouver un emploi,
            un stage ou encore une alternance.
            Tenir un cahier à jour avec toutes les offres auxquelles on postule, ce n'est
            pas forcément évident, et surtout "propre"...
            <br><br>
            C'est lorsque j'ai recommencé à répondre à des offres, que je me
            suis dis qu'il était temps pour moi de développer un outil qui me permettrait d'effectuer un suivi simple de mes
            recherches.
        </p>

        <p class="text-center fst-italic my-4">
            <strong>Check My Applications</strong> est donc né !
        </p>

        <p>
            C'est un site assez simple que je mets à votre disposition, libre à vous de l'utiliser ou pas, en espérant que
            cela vous soit utile :)
        </p>

        <small class="text-end d-block mt-4"><em>Yohann Hommet</em></small>
    </div>


{% endblock %}