{% extends 'base.html.twig' %}

{% block title %}cMa | Home{% endblock %}

{% block body %}


    <div class="presentation custom_glass">
        <h2 class="text-center mb-5">Bienvenue</h2>

        <p>
            Bonjour à toi visiteur !
        </p>

        <p>
            J'ai créé ce site dans le but d'aider ceux qui le souhaitent à suivre leurs candidatures pour trouver un emploi, un stage ou encore une alternance.
        </p>

        <p>
           De ma propre expérience, je sais que tenir un cahier à jour avec toutes les offres auxquelles on postule, n'est pas forcément évident, et surtout "propre". Les premières fois, je faisais cela sur un cahier, avec des colonnes tracées un peu n'importe commment et des ratures dans tous les sens !
        </p>

        <p>
           C'est lorsque j'étais en formation, et que j'ai recommencé à répondre à des offres de stage notamment, que je me suis dis qu'il était temps pour moi de développer un outil qui me permettrait d'effectuer un suivi simple de mes recherches.
            <br>
        </p>

        <p class="text-center fst-italic my-4">
            <strong>CheckMyApplications</strong> est donc né !
        </p>

        <p>
            C'est un site assez simple que je mets à votre dispotion, donc libre à vous d'en faire ce que vous voulez, en espérant que cela vous soit utile :)
        </p>
    </div>

{% endblock %}
