<button type="button" class="btn custom_button_glass px-4" data-bs-toggle="modal"
    data-bs-target="#applicationModal" role="button" title="{{ button_title ?? 'Add' }}">
    <i class="{{ button_icon ?? 'fa fa-plus' }}"></i>
</button>