<button type="button" class="btn custom_button_glass px-4" data-mdb-toggle="modal" data-mdb-target="#applicationModal"
        title="{{ button_title ?? 'Add' }}">
    <i class="{{ button_icon ?? 'fa fa-plus' }}"></i>
</button>