<!DOCTYPE html>
<html lang="fr">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <meta name="keywords"
              content="candidatures, emplois, stage, alternance, personnel, suivis, tableau, liste, html, css, js php, symfony">
        <meta name="description" content="Un site pour suivre vos candidatures facilement.">
        <meta name="author" content="Yohann Hommet">
        <meta name="copyright" content="{{ date('Y') | date('Y') }}">
    {% endblock %}

    {% block stylesheets %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
              rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
              integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script defer type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <title>{% block title %}Check My Applications{% endblock %}</title>
</head>
<body>

{% include '_partials/_navbar.html.twig' %}

<div class="container-fluid p-0 m-0 g-0">
    {% include '_partials/_flash_message.html.twig' %}

    <main role="main" class="{% if app.session.get('theme') == 'red' %}theme__red{% else %}theme__blue{% endif %}">
        {% block body %}
        {% endblock %}
    </main>

    {% include '_partials/_footer.html.twig' %}
</div>
</body>
</html>