{% extends "base.html.twig" %}

{% block title %}404 |{% endblock %}

{% block body %}

    <div class="presentation custom_glass custom__error_box ">
        <h5 class="text-center mb-5 custom__error_number">403</h2>

        <p class="fs-2 text-center custom__error_text">
            You are not gonna make it ?!
        </p>

        <a href="{{ path('app_home') }}" class="fs-5 mt-3 custom__error_link">Get out of here !</a>
    </div>

{% endblock %}