

{% extends "base.html.twig" %}

{% block title %}Error |{% endblock %}

{% block body %}

    <div class="presentation custom_glass custom__error_box ">
        <h5 class="text-center mb-5 custom__error_number">Humm</h2>

        <p class="fs-2 text-center custom__error_text">
           Something went wrong...
        </p>

        <a href="{{ path('app_home') }}" class="fs-5 mt-3 custom__error_link">Home</a>
    </div>

{% endblock %}